<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/bootstrap.css")
    title this is test
  body
    .wrapper
      .main-bg
      header.navbar
        .container
          .element
      section.main
        .jumbotron
          .container
            .element
        .whatson.givePadding
          .container
            .row
              .col-xs-12.col-sm-7.col-sm-push-5.col-md-5.col-md-push-7
                .element Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat deleniti facere debitis delectus libero quia aliquam est numquam ut laborum, ipsam earum enim obcaecati nulla officiis animi aspernatur quaerat temporibus ipsum, natus quis dignissimos facilis, sed sint? Nesciunt, inventore dicta. Hic corporis error eos illum quibusdam adipisci iste soluta rem?
              .col-xs-12.col-sm-5.col-sm-pull-7.col-md-6.col-md-pull-5
                .album
                  .album-art
                    .element
                  .album-art
                    .element
                  .album-art
                    .element
                  .album-art.hidden-sm
                    .element
        .albums.givePadding
          .container
            .row
              .col-xs-12.col-sm-4
                .element Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut odio autem, cumque modi perferendis quod temporibus quam pariatur provident? Ipsam nesciunt quod repellat asperiores nulla ab, a nostrum dolorem, atque expedita voluptate illum velit temporibus harum excepturi quibusdam. Sunt placeat earum quia porro quaerat beatae nulla dolorum delectus est doloribus nostrum eos molestiae necessitatibus ut, aliquam eius maxime. Ullam ipsa earum quae dolorem, culpa in? Illo vel alias veniam facere perferendis rerum possimus inventore, maiores mollitia id asperiores corrupti maxime eligendi sit impedit ad quod facilis, eveniet aliquam, dolore amet? Voluptatibus cum culpa temporibus consequatur ad ratione eius aspernatur nostrum!
              .col-xs-12.col-sm-8
                .phone-group
                  .row
                    .col-xs-4
                      .phone.phone1
                    .col-xs-4
                      .phone.phone2
                      .phone.phone3
                    .col-xs-4
                      .phone.phone4
        .devices.givePadding
          .container
            .element
        .subscribtion.givePadding
          .container
            .row
              .col-xs-12.col-sm-10
                .element
      footer.footer
        .container 
          .row
            .col-xs-12.col-md-2
              .element
            .col-xs-6.col-sm-4.col-md-2
              .element
            .col-xs-6.col-sm-4.col-md-2
              .element
            .col-xs-6.col-sm-4.col-md-2
              .element
            .col-xs-12.col-md-4
              .element
          .row.row-small
            .col-xs-8.col-sm-6
              .element
            .col-xs-4.col-sm-6
              .element

            
      